@use "./variables" as *;

.card {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 300px;
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .card-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
}
@media (max-width: 1024px) {
    .card {
        max-width: 280px;
        height: 280px;
    }
}
@media (max-width: 768px) {
    .card {
        max-width: 240px;
        height: 240px;
    }
}
@media (max-width: 480px) {
    .card {
        max-width: 90%;
        height: auto;
    }
}