@use "./variables" as *;

.home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); /* 3 cartes fixes */
    justify-items: center;
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    background-color: #f6f6f6;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 0px;
    gap: 20px;
    transition: all 0.3s ease; 
}
@media (max-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(3, minmax(220px, 1fr)); /* Toujours 3 cartes */
        gap: 15px;
    }
}
@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(2, minmax(200px, 1fr)); /* 2 cartes */
        gap: 15px;
    }
}
@media (max-width: 480px) {
    .cards-container {
        grid-template-columns: 1fr; 
    }
}